<div id="body">
    <ul id="users" style="margin-right: 500px; float:right"></ul>
    <form id="saveUserForm" method="post">
        <h3>Add a New User</h3>
        <p>
            <label for="User Name">User Name:</label>
            <input type="text" name="UserName" />
        </p>
        <p>
            <label for="User Password">Password:</label>
            <input type="text" name="Password" />
        </p>
        <input type="button" id="register" value="Register User" />
    </form>
    <form id="saveHouseForm" method="post">
        <h3>Add a New House</h3>
        <p>
            <label for="House Name">House Name:</label>
            <input type="text" name="HouseName" />
        </p>
        <p>
            <label for="House ID">House ID:</label>
            <input type="text" name="HouseId" />
        </p>
        <p>
            <label for="User Name">Add To User:</label>
            <input type="text" name="UserName" />
        </p>
        <input type="button" id="addHouse" value="Add House" />
    </form>
    <form id="saveRoomForm" method="post">
        <h3>Add a New Room</h3>
        <p>
            <label for="Room Name">Room Name:</label>
            <input type="text" name="RoomName" />
        </p>
        <p>
            <label for="Room ID">Room ID:</label>
            <input type="text" name="RoomId" />
        </p>
        <p>
            <label for="House ID">House ID:</label>
            <input type="text" name="HouseId" />
        </p>
        <input type="button" id="addRoom" value="Add Room" />
    </form>
    <form id="saveDeviceForm" method="post">
        <h3>Add a New Device</h3>
        <p>
            <label for="Device Name">Device Name:</label>
            <input type="text" name="DeviceName" />
        </p>
        <p>
            <label for="Device ID">Device ID:</label>
            <input type="text" name="DeviceId" />
        </p>
        <p>
            <label for="Room ID">Room ID:</label>
            <input type="text" name="RoomId" />
        </p>
        <input type="button" id="addDevice" value="Add Device" />
    </form>
    <form id="deleteUserForm" method="delete">
        <h3>Delete a User</h3>
        <p>
            <label for="User Name">User Name:</label>
            <input type="text" name="UserName" />
        </p>
        <p>
            <label for="Password">Password:</label>
            <input type="text" name="Password" />
        </p>
        <input type="button" id="deleteUser" value="Delete User" />
    </form>
    <form id="deleteHouseForm" method="delete">
        <h3>Delete a House</h3>
        <p>
            <label for="House ID">House ID:</label>
            <input type="text" name="HouseId" />
        </p>
        <input type="button" id="deleteHouse" value="Delete House" />
    </form>
    <form id="deleteRoomForm" method="delete">
        <h3>Delete a Room</h3>
        <p>
            <label for="Room ID">Room ID:</label>
            <input type="text" name="RoomId" />
        </p>
        <input type="button" id="deleteRoom" value="Delete Room" />
    </form>
    <form id="deleteDeviceForm" method="delete">
        <h3>Delete a Device</h3>
        <p>
            <label for="Device ID">Device ID:</label>
            <input type="text" name="DeviceId" />
        </p>
        <input type="button" id="deleteDevice" value="Delete Device" />
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: 'GET',
                url: 'api/user',
                dataType: "json",
                success: function (data) {
                    $(data).each(function (i, item) {
                        $('#users').append('<li>' + "User: " + item.UserName + "  (Password: " + item.Password + ')');
                        alert('Got item ' + item.UserName + ' Got Password ' + item.Password);
                    })
                },
                error: function () {
                    alert('error handling User GET request');
                }
            });
        });

        $(function () {
            $.ajax({
                type: 'GET',
                url: 'api/house',
                dataType: "json",
                success: function (data) {
                    $(data).each(function (i, item) {
                        $('#users').append('<ul>' + '<li>' + "House: " + item.HouseName + "  (Id: " + item.HouseId + ')' + '</li>' + '</ul>');
                        alert('Got House ' + item.HouseName);
                    })
                },
                error: function () {
                    alert('error handling House GET request');
                }
            });
        });

        $(function () {
            $.ajax({
                type: 'GET',
                url: 'api/room',
                dataType: "json",
                success: function (data) {
                    $(data).each(function (i, item) {
                        $('#users').append('<ul>' + '<li>' + '<ul>' + '<li>' + "Room: " + item.RoomName + "  (Id: " + item.RoomId + ')' + '</li>' + '</ul>' + '</li>' + '</ul>');
                        alert('Got Room ' + item.RoomName);
                    })
                },
                error: function () {
                    alert('error handling Room GET request');
                }
            });
        });

        $(function () {
            $.ajax({
                type: 'GET',
                url: 'api/device',
                dataType: "json",
                success: function (data) {
                    $(data).each(function (i, item) {
                        $('#users').append('<ul>' + '<li>' + '<ul>' + '<li>' + '<ul>' + '<li>' + "Device: " + item.DeviceName + "  (Id: " + item.DeviceId + ')' + '</li>' + '</ul>' + '</li>' + '</ul>' + '</li>' + '</ul>');
                        alert('Got Device ' + item.DeviceName);
                    })
                },
                error: function () {
                    alert('error handling Room GET request');
                }
            });
        });

        $('#register').click(function () {
            var datastring = $("#saveUserForm").serialize();
            $.ajax({
                type: 'POST',
                url: 'api/user',
                data: datastring,
                dataType: "json",
                success: function (data) {
                    $('#users').append('<li>' + "User: " + data.UserName + "  (Password: " + data.Password + ')');
                    alert('Posted User ' + data.UserName + ' and ' + data.Password);
                },
                error: function () {
                    alert('error handling User POST request');
                }
            });
        });

       $('#addHouse').click(function () {
            var datastring = $("#saveHouseForm").serialize();
            $.ajax({
                async: false,
                type: 'POST',
                url: 'api/house',
                data: datastring,
                dataType: "json",
                success: function (data) {
                    $('#users').append('<ul>' + '<li>' + "House: " + data.HouseName + "  (Id: " + data.HouseId + ')' + '</li>' + '</ul>');
                    alert('Posted House ' + data.HouseName);
                },
                error: function () {
                    alert('error handling House POST request');
                }
            });
            $.ajax({
                async: false,
                type: 'PATCH',
                url: 'api/user',
            })
       });

       $('#addRoom').click(function () {
           var datastring = $("#saveRoomForm").serialize();

           $.ajax({
               async: false,
               type: 'POST',
               url: 'api/room',
               data: datastring,
               dataType: "json",
               success: function (data) {
                   $('#users').append('<ul>' + '<li>' + '<ul>' + '<li>' + "Room: " + data.RoomName + "  (Id: " + data.RoomId + ')' + '</li>' + '</ul>' + '</li>' + '</ul>');
                   alert('Posted Room ' + data.RoomName);
               },
               error: function () {
                   alert('error handling Room POST request');
               }
           });

           $.ajax({
               async: false,
               type: 'PATCH',
               url: 'api/house',
           })
       })
           

       $('#addDevice').click(function () {
           var datastring = $("#saveDeviceForm").serialize();
           $.ajax({
               async: false,
               type: 'POST',
               url: 'api/device',
               data: datastring,
               dataType: "json",
               success: function (data) {
                   $('#users').append('<ul>' + '<li>' + '<ul>' + '<li>' + '<ul>' + '<li>' + "Device: " + data.DeviceName + "  (Id: " + data.DeviceId + ')' + '</li>' + '</ul>' + '</li>' + '</ul>' + '</li>' + '</ul>');
                   alert('Posted Device ' + data.DeviceName);
               },
               error: function () {
                   alert('error handling Device POST request');
               }
           });
           $.ajax({
               async: false,
               type: 'PATCH',
               url: 'api/room',
           })
       });

        $('#deleteUser').click(function () {
            var datastring = $("#deleteUserForm").serialize();
            $.ajax({
                async: false,
                type: 'DELETE',
                url: 'api/user',
                data: datastring,
                dataType: "json",
                success: function (data) {
                    var str = datastring.split("&");
                    var name = (str[0].split("UserName="));
                    var password = str[1].split("Password=");
                    console.log(name[0]);
                    console.log(password[0]);
                    document.getElementById(name[0]).remove();
                    alert('Deleted User: ' + name.toString());
                },
                error: function () {
                    alert('error handling for User DELETE request');
                }
            });
        });

        $('#deleteHouse').click(function () {
            var datastring = $("#deleteHouseForm").serialize();
            $.ajax({
                async: false,
                type: 'DELETE',
                url: 'api/house',
                data: datastring,
                dataType: "json",
                success: function (data) {
                    var str = datastring.split("&");
                    var name = str[0].split("HouseName=");
                    var id = str[1].split("HouseId=");
                    console.log(id[0]);
                    document.getElementById(id[0]).remove();
                    alert('Deleted House: ' + name.toString());
                },
                error: function () {
                    alert('error handling for House DELETE request');
                }
            });

            $.ajax({
                async: false,
                type: 'PATCH',
                url: 'api/user',
            });
        });

        $('#deleteRoom').click(function () {
            var datastring = $("#deleteRoomForm").serialize();
            $.ajax({
                type: 'DELETE',
                url: 'api/room',
                async: false,
                data: datastring,
                dataType: "json",
                success: function (data) {
                    var str = datastring.split("&");
                    var name = str[0].split("RoomName=");
                    var id = str[1].split("RoomId=");
                    console.log(id[0]);
                    document.getElementById(id[0]).remove();
                    alert("Deleted Room: " + name.toString());
                },
                error: function () {
                    alert('error handling for Room DELETE request');
                }
            });

            $.ajax({
                async: false,
                type: 'PATCH',
                url: 'api/house',
            });

            $.ajax({
                async: false,
                type: 'PATCH',
                url: 'api/user',
            });
        });

        $('#deleteDevice').click(function () {
            var datastring = $("#deleteDeviceForm").serialize();
            $.ajax({
                async: false,
                type: 'DELETE',
                url: 'api/device',
                data: datastring,
                dataType: "json",
                success: function (data) {
                    var str = datastring.split("&");
                    var name = str[0].split("DeviceName=")
                    var id = str[1].split("DeviceId=");
                    console.log(id[0]);
                    document.getElementById(id[0]).remove();
                    alert("Deleted Device: " + name.toString());
                },
                error: function () {
                    alert('error handling for Device DELETE request');
                }
            });

            $.ajax({
                async: false,
                type: 'PATCH',
                url: 'api/room',
            });

            $.ajax({
                async: false,
                type: 'PATCH',
                url: 'api/house',
            });

            $.ajax({
                async: false,
                type: 'PATCH',
                url: 'api/user',
            });
        });
    </script>
}
